<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragment/general.html :: headerFragment" th:remove="tag"></div>
        <title>Nara clinic test</title>
    </head>
    <body>
        <div class="container">
            <div th:replace="fragment/general.html :: navigation-bar" id="navigation"></div>
            <div>
                <p>Removed clinic</p>
                <p th:inline="text">Id: [[${id}]]</p>
            </div>
        </div>
    </body>
</html>