<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragment/general.html :: headerFragment" th:remove="tag"></div>
        <title>Pacjent test</title>
    </head>
    <body>
        <div class="container">
            <div th:replace="fragment/general.html :: navigation-bar" id="navigation"></div>

            <p>Patient</p>
            <div>
                <form th:method="post" th:action="@{/appointment/patient}">
                    Patient Id: <input type="number" name="id"/>
                    <input type="submit" value="Show Patient Calendar"/>
                </form>
            </div>

        </div>
    </body>
</html>