<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragment/general.html :: headerFragment" th:remove="tag"></div>
        <link rel="stylesheet" href="/./css/style.css">
        <title>Pacjent edycja</title>
    </head>
    <body>
        <div class="container">
            <div th:replace="fragment/general.html :: navigation-bar" id="navigation"></div>
            <div id="user-info">
                <form th:method="post" th:action="@{/profile/edit}">
                    <p>Imię: <input type="text" name="name" th:value="${user.name}" /></p>
                    <p>Nazwisko: <input type="text" name="surname" th:value="${user.surname}" /></p>
                    <p>E-mail: <input type="text" name="mail" th:value="${user.mail}" /></p>
                    <p>Nr telefonu: <input type="text" name="phone" th:value="${user.phone}" /></p>
                    <p>Płeć:
                        <select name="gender">
                            <option value="MALE" th:selected="${user.gender == 'MALE'}">MALE</option>
                            <option value="FEMALE" th:selected="${user.gender == 'FEMALE'}">FEMALE</option>
                        </select>
                    </p>
                    <p>Pesel: <input type="text" name="pesel" th:value="${user.username}" /></p>
                    <button type="submit" value="Update client data">Zapisz</button>
                </form>
            </div>
        </div>
    </body>

