<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragment/general.html :: headerFragment" th:remove="tag"></div>
        <link rel="stylesheet" href="/./css/style.css">
        <title>Pacjent test</title>
    </head>
    <body>
        <div class="container">
            <div th:replace="fragment/general.html :: navigation-bar" id="navigation"></div>
            <div id="user-info">
                <p>Imię: <span th:text="${user.name}"></span></p>
                <p>Nazwisko: <span th:text="${user.surname}"></span></p>
                <p>E-mail: <span th:text="${user.mail}"></span></p>
                <p>Nr telefonu: <span th:text="${user.phone}"></span></p>
                <p>Płeć: <span th:text="${user.gender}"></span></p>
                <p>Pesel: <span th:text="${user.pesel}"></span></p>
                <a th:href="@{/profile-edit}" class="btn" id="change-info-btn">Zmień dane</a>
            </div>
        </div>
    </body>
</html>