<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragment/general.html :: headerFragment" th:remove="tag"></div>
        <title>Welcome clinic test</title>
    </head>
    <body>
        <div class="container">
            <div th:replace="fragment/general.html :: navigation-bar" id="navigation"></div>
            <div>
                <p>Added clinic</p>
                <p th:inline="text">Building number: [[${buildingNumber}]]</p>
                <p th:inline="text">City: [[*{city}]]</p>
                <p th:inline="text">Street: [[*{street}]]</p>
                <p th:inline="text">PostalCode: [[*{postalCode}]]</p>
            </div>
        </div>
    </body>
</html>